.order-success-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px 40px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    place-content: center;
    height: 65dvh;
  }
  
  .order-success-container h2 {
    color: #2ecc71;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .order-success-container p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
  }
  
  .order-success-container strong {
    color: #555;
  }
  
  .order-success-container h3 {
    margin-top: 30px;
    font-size: 22px;
    color: #3498db;
  }

  
  .order-success-container h4{
    color:#3498db;
  }